import backgroundwhite .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .electronics{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
.cardgap {
  margin: 2px;
}

/* .container{
  padding:3px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
} */
.container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between
}

.product-detail-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-detail-tag div {
  display: inline
}

img.product-details-zoom {
  padding: 30px;
  transition: transform .4s;
  width: 60%;
  margin: 0 auto;
}

.login-dialog{
  display:flex;
  flex-direction: row;
/* justify-content: space-between; */

}
img.product-details-zoom:hover {
  transform: scale(2);
}
.innerLeftContainer{

  color:aliceblue;
background-image: linear-gradient(to right,skyblue,blue);
}
.productCard {
  display: inline-block;
  margin: 2px;
  /* color:aliceblue */
  /* background-image: url("../src/component/assets/img/backgroundwhite.jpg"); */
}

/* *{
  border:2px solid black
} */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

select {
  border: 0px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}